.logo{
    background-color: #003049;
    margin-top: 0;
    margin-bottom: 0;
}

.title{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Pokemon';
    color: yellow;
    font-size: 2em;
    font-weight: 20em;
    -webkit-text-stroke: 1.5px black;
}

.title:hover{
    color: #fdffb6;
}

a:link, a:visited, a:active {
    text-decoration:none;
    width:25%;
}