.cards{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    width: 50%;
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}
  
@media screen and (min-width: 576px) {
    .cards {
      display: grid;
      grid-template-columns: 200px 200px 200px;
      grid-column-gap: 7.5rem;
      justify-content: center;
    }
}